.dashboard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;


    .dashboard__header {
        background: red;

        .calendar__weekdays {
            background: green;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: stretch;


            .calendar__weekday {
                min-height: 2em;
            }

            .calendar__weekday--today {
                min-height: 2em;
                color: white;
            }
            .calendar__weekday--past {
                min-height: 2em;
                color: #CCCCCC;
            }
        }

        .calendar__weekdays--title {
            background: yellow;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: stretch;

            .calendar__weekday--title {
                min-height: 2em;
            }
        }
    }

    .dashboard_content {}
}
