h1 {
    font-family: 'PT Sans', serif;
    font-weight: 200;
    letter-spacing: 0.03em;
    font-size: 2.8em;
    text-align: justify;
    font-family: 'Cormorant Garamond';
    font-style: italic;
}

h2 {
    font-family: 'PT Sans', serif;
    font-weight: 200;
    letter-spacing: 0.03em;
    font-size: 1.5em;
    text-align: justify;
}

p {
    line-height: 1.8em;
    font-size: 1.25em;
}


.small {
  font-size: 1em;
  line-height: 1.5em;
}

td {
    line-height: 1.8em;
    font-size: 1.25em;
}


.rightalign {
    text-align:right;
}
